

body{
    background-color:rgb(189, 169, 80);
    color:rgb(0, 0, 0);
  }
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(135deg, #afa04c, #c2c781);
      color: #fff;
      margin: 0;
      padding: 0;
  }

  header {
      text-align: center;
      background-color: rgba(7, 6, 6, 0.3);
      padding: 30px;
      border-radius: 0 0 20px 20px;
  }

  h1 {
      font-size: 2.5em;
      margin: 0;
  }

  .contenedor {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      gap: 20px;
  }

  .tarjeta {
      background-color: rgba(104, 90, 90, 0.1);
      border-radius: 15px;
      width: 300px;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s, background-color 0.3s;
  }

  .tarjeta:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.2);
  }

  img {
      width: 30%;
      border-radius: 10px;
  }

  h2 {
      margin-top: 10px;
      color: #fff;
  }

  p {
      color: #f0f0f0;
  }

  footer {
      text-align: center;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 20px 20px 0 0;
      margin-top: 30px;
  }

  a {
      color: #fff23b;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }